#sf_admin_container ul li.sf_admin_action_promote a 
{
	background-image:none;
}
#sf_admin_container ul li.sf_admin_action_demote a 
{
	background-image:none;
}
#sf_admin_container ul li.sf_admin_action_promote 
{
	background:transparent url(../images/sortable/icons/promote.png) no-repeat scroll 0 0;
}
#sf_admin_container ul li.sf_admin_action_demote 
{
	background:transparent url(../images/sortable/icons/demote.png) no-repeat scroll 0 0;
}
#sf_admin_container ul.sf_admin_td_actions {
	width:120px !important;
}